PORT=3000
PUBLIC_BASE_URL=http://localhost:3000
WAVE_API_KEY=
WAVE_API_BASE_URL=https://api.wave.com
ORANGE_MONEY_CLIENT_ID=
ORANGE_MONEY_CLIENT_SECRET=
ORANGE_MONEY_MERCHANT_KEY=
WHATSAPP_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
